img {
  height: 4rem;
}

.header {
  justify-content: left;
  height: 10%;
  background-color: cadetblue;
}

.span {
  display: flex;
  align-items: center;
}

h1 {
  padding-left: .5rem;
  font-size: 2.5rem;
  font-family: 'Dosis', sans-serif;
}
