<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sideMenu">
    <mat-nav-list>
      <a routerLink="" mat-list-item class="menuItem">
        <i class="material-icons">home</i>
        Home
      </a>
      <a routerLink="/cars" mat-list-item class="menuItem">
        <i class="material-icons">list</i>
        Cars
      </a>
      <a routerLink="/users" mat-list-item class="menuItem">
        <i class="material-icons">person</i>
        Users
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
