<div class="content">
  <div class="title">
    <h1>Cars</h1>
  </div>

  <button class="mat-elevation-z8" mat-stroked-button color="primary">New Car</button>

  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="cars['content']">

      <ng-container matColumnDef="carId">
        <th mat-header-cell *matHeaderCellDef> Car ID </th>
        <td mat-cell *matCellDef="let row"> {{row.carId}} </td>
      </ng-container>

      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef> Make </th>
        <td mat-cell *matCellDef="let row"> {{row.make}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let row"> {{row.model}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let row"> {{row.year}} </td>
      </ng-container>

      <ng-container matColumnDef="trim">
        <th mat-header-cell *matHeaderCellDef> Trim </th>
        <td mat-cell *matCellDef="let row"> {{row.trim}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let row"> {{row.color}} </td>
      </ng-container>

      <ng-container matColumnDef="transmission">
        <th mat-header-cell *matHeaderCellDef> Transmission </th>
        <td mat-cell *matCellDef="let row"> {{row.transmission}} </td>
      </ng-container>

      <ng-container matColumnDef="fuel">
        <th mat-header-cell *matHeaderCellDef> Fuel </th>
        <td mat-cell *matCellDef="let row"> {{row.fuel}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="mat-header" mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" href="#">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" href="#">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
