<form action="">
  <h1>Delete a car</h1>

  <mat-form-field class="form">
    <mat-label>Make</mat-label>
    <label>
      <input matInput [(ngModel)]="car.make" type="text" name="make" disabled>
    </label>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Model</mat-label>
    <label>
      <input matInput [(ngModel)]="car.model" type="text" name="model" disabled>
    </label>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Year</mat-label>
    <label>
      <input matInput [(ngModel)]="car.year" type="text" name="year" disabled>
    </label>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Trim</mat-label>
    <label>
      <input matInput [(ngModel)]="car.trim" type="text" name="trim" disabled>
    </label>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Color</mat-label>
    <label>
      <input matInput [(ngModel)]="car.color" type="text" name="color" disabled>
    </label>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Transmission</mat-label>
    <label>
      <input matInput [(ngModel)]="car.transmission" type="text" name="transmission" disabled>
    </label>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Fuel</mat-label>
    <label>
      <input matInput [(ngModel)]="car.fuel" type="text" name="fuel" disabled>
    </label>
  </mat-form-field>

  <div class="buttons">
    <button (click)="deleteCar()" class="mat-elevation-z8" mat-stroked-button color="primary">Delete</button>
    <button (click)="cancelDelete()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancel</button>
  </div>

</form>
